.main {
	padding-top: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;

	h1 {
		font-size: 36px;
		text-align: center;
	}

	&__vintage {
		display: flex;
		justify-items: right;
		gap: 10px;
		> span {
			color: #8e8e8e;
		}
	}
}