.back-btn {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 0;
	margin-left: 25px;
	margin-bottom: 25px;
	border: none;
	background-color: transparent;
	&:hover {
		transform: scale(1.1);
	}
}