.row-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.row-item {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 10px;

	> input {
		width: 100%;
		border-radius: 5px;
		border: 1px solid;
		padding: 5px;

		&.vintage {
			min-width: 70px;
			width: 70px;
			text-align: center;
		}
	}
}

.row-control {
	position: absolute;
	right: 0;
	transform: translateX(150%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.row-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border: none;
	background-color: black;
	color: white;
	line-height: 30px;
	font-size: 20px;
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}

